In [48]:
import pandas as pd

In [49]:
pop_change = pd.read_csv('pop_change.csv')
pop_change.head()

,# POPULATION CHANGE DATA PROVIDED BY U.S. CENSUS.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,# CHANGE EXPRESSED AS PERCENTAGE (0-100).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE_OR_REGION,1910_POPULATION,1920_POPULATION,1930_POPULATION,1940_POPULATION,1950_POPULATION,1960_POPULATION,1970_POPULATION,1980_POPULATION,1990_POPULATION,...,1920_CHANGE,1930_CHANGE,1940_CHANGE,1950_CHANGE,1960_CHANGE,1970_CHANGE,1980_CHANGE,1990_CHANGE,2000_CHANGE,2010_CHANGE
2,United States,92228531,106021568,123202660,132165129,151325798,179323175,203211926,226545805,248709873,...,15,16.2,7.3,14.5,18.5,13.3,11.5,9.8,13.2,9.7
3,Northeast,25868573,29662053,34427091,35976777,39477986,44677819,49040703,49135283,50809229,...,14.7,16.1,4.5,9.7,13.2,9.8,0.2,3.4,5.5,3.2
4,Midwest,29888542,34019792,38594100,40143332,44460762,51619139,56571663,58865670,59668632,...,13.8,13.4,4,10.8,16.1,9.6,4.1,1.4,7.9,3.9

In [50]:
pop_change.drop(pop_change.index[0])
pop_change.head()

,# POPULATION CHANGE DATA PROVIDED BY U.S. CENSUS.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,# CHANGE EXPRESSED AS PERCENTAGE (0-100).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE_OR_REGION,1910_POPULATION,1920_POPULATION,1930_POPULATION,1940_POPULATION,1950_POPULATION,1960_POPULATION,1970_POPULATION,1980_POPULATION,1990_POPULATION,...,1920_CHANGE,1930_CHANGE,1940_CHANGE,1950_CHANGE,1960_CHANGE,1970_CHANGE,1980_CHANGE,1990_CHANGE,2000_CHANGE,2010_CHANGE
2,United States,92228531,106021568,123202660,132165129,151325798,179323175,203211926,226545805,248709873,...,15,16.2,7.3,14.5,18.5,13.3,11.5,9.8,13.2,9.7
3,Northeast,25868573,29662053,34427091,35976777,39477986,44677819,49040703,49135283,50809229,...,14.7,16.1,4.5,9.7,13.2,9.8,0.2,3.4,5.5,3.2
4,Midwest,29888542,34019792,38594100,40143332,44460762,51619139,56571663,58865670,59668632,...,13.8,13.4,4,10.8,16.1,9.6,4.1,1.4,7.9,3.9

In [51]:
pop_change = pop_change.iloc[1:]
pop_change.head()

,# POPULATION CHANGE DATA PROVIDED BY U.S. CENSUS.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
1,STATE_OR_REGION,1910_POPULATION,1920_POPULATION,1930_POPULATION,1940_POPULATION,1950_POPULATION,1960_POPULATION,1970_POPULATION,1980_POPULATION,1990_POPULATION,...,1920_CHANGE,1930_CHANGE,1940_CHANGE,1950_CHANGE,1960_CHANGE,1970_CHANGE,1980_CHANGE,1990_CHANGE,2000_CHANGE,2010_CHANGE
2,United States,92228531,106021568,123202660,132165129,151325798,179323175,203211926,226545805,248709873,...,15,16.2,7.3,14.5,18.5,13.3,11.5,9.8,13.2,9.7
3,Northeast,25868573,29662053,34427091,35976777,39477986,44677819,49040703,49135283,50809229,...,14.7,16.1,4.5,9.7,13.2,9.8,0.2,3.4,5.5,3.2
4,Midwest,29888542,34019792,38594100,40143332,44460762,51619139,56571663,58865670,59668632,...,13.8,13.4,4,10.8,16.1,9.6,4.1,1.4,7.9,3.9
5,South,29389330,33125803,37857633,41665901,47197088,54973113,62795367,75372362,85445930,...,12.7,14.3,10.1,13.3,16.5,14.2,20,13.4,17.3,14.3

In [52]:
pop_change.columns = pop_change.iloc[0].values
pop_change = pop_change.iloc[1:]

In [56]:
pop_change.head()

,STATE_OR_REGION,1910_POPULATION,1920_POPULATION,1930_POPULATION,1940_POPULATION,1950_POPULATION,1960_POPULATION,1970_POPULATION,1980_POPULATION,1990_POPULATION,...,1920_CHANGE,1930_CHANGE,1940_CHANGE,1950_CHANGE,1960_CHANGE,1970_CHANGE,1980_CHANGE,1990_CHANGE,2000_CHANGE,2010_CHANGE
2,United States,92228531,106021568,123202660,132165129,151325798,179323175,203211926,226545805,248709873,...,15,16.2,7.3,14.5,18.5,13.3,11.5,9.8,13.2,9.7
3,Northeast,25868573,29662053,34427091,35976777,39477986,44677819,49040703,49135283,50809229,...,14.7,16.1,4.5,9.7,13.2,9.8,0.2,3.4,5.5,3.2
4,Midwest,29888542,34019792,38594100,40143332,44460762,51619139,56571663,58865670,59668632,...,13.8,13.4,4,10.8,16.1,9.6,4.1,1.4,7.9,3.9
5,South,29389330,33125803,37857633,41665901,47197088,54973113,62795367,75372362,85445930,...,12.7,14.3,10.1,13.3,16.5,14.2,20,13.4,17.3,14.3
6,West,7082086,9213920,12323836,14379119,20189962,28053104,34804193,43172490,52786082,...,30.1,33.8,16.7,40.4,38.9,24.1,24,22.3,19.7,13.8